body {
  background-color: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.section {
  padding-top: 0;
  padding-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

/* Common-section-three-four-styles */
.section-title {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-title {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}
.list-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header-styles====================================================== */

/* .mobile-header-styles.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */
.mobile-header-container {
  max-width: 320px;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* mobile-header======================================================= */
.menu-styles,
.contacts {
  display: none;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #111111;
  line-height: 0;
}

/* modal-window ==========================================================*/

.modal-window-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

/* awating for JS=================================== */

.modal-window-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ============================================================== */
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px 8px 16px;
}
.modal-window-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-button:hover,
.modal-window-button:focus {
  background-color: #404bbf;
  border: none;
}
.modal-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-button:hover,
.modal-window-button:focus {
  fill: #ffffff;
}
.mobile-window-content-container {
  margin-top: 18px;
  margin-right: 17px;
  margin-bottom: 45px;
  margin-left: 16px;
}
.p-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 72px;
  margin-bottom: 16px;
}
.modal-window-name {
  margin-bottom: 8px;
}
.modal-window-txtar-name {
  margin-bottom: 16px;
}
.m-w-label-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.m-w-links {
  position: relative;
}
.m-w-input-user-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.m-w-input-user-name:focus {
  border-color: #4d5ae5;
}
.m-w-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: #2e2f42;
  fill: none;
}
.m-w-input-user-name:focus + .m-w-svg {
  stroke: #fd9222;
}
.m-w-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.m-w-comment:focus {
  border-color: #4d5ae5;
}
.m-w-comment::placeholder {
  color: #8e8f99;
}
.m-w-input-user-name:focus ~ .m-w-comment {
  border: #4d5ae5;
}

.m-w-checkbox {
  margin-bottom: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.m-w-user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.m-w-customer-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.m-w-customer-icon {
  color: #fff;
}
.m-w-input-privacy:checked + .m-w-user-privacy > .m-w-customer-icon {
  background-color: #fd9222;
  border: none;
  fill: #f4f4fd;
}
.m-w-input-privacy:checked + .m-w-user-privacy.m-w-fantom-icon {
  opacity: 1;
}
.accept-terms {
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
  width: 241px;
  height: auto 31px;
}
.m-w-privacy-policy {
  color: #4d5ae5;
  margin-left: 6px;
  margin-right: 30px;
}
.m-w-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* margin: auto; */
  margin-left: 40px;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 24px;
}
.m-w-button:hover,
.m-w-button:focus {
  color: #fd9222;
  background-color: #404bbf;
}

/* mobile-menu ========================================================*/
@media screen and (max-width: 767px) {
  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }

  .mobile-menu-wrapper.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container.is-open {
    position: relative;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    background-color: transparent;
    border: none;
    padding: 0;
    color: #111111;
    line-height: 0;
  }
  .menu-styles {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--OCEAN, #404bbf);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-top: 72px;
    margin-left: 16px;
    margin-right: 153px;
    gap: 40px;
  }

  .contacts {
    width: 193px;
    height: 72px;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-top: 168px;
  }
  .contacts-styles {
    width: 193px;
    height: 72px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .address-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-contacts:hover,
  .address-contacts:focus {
    color: #404bbf;
  }

  .social-list {
    display: inline-flex;
    min-width: 280px;
    gap: 40px;

    margin-left: 16px;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 40px;
  }
  .social-list-item {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }

  .social-networks {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-networks:hover,
  .social-networks:focus {
    background-color: #404bbf;
  }
  .icon-colour {
    fill: #f4f4fd;
  }
}

/* ================================================================== */
/* tablet-header */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-menu-wrapper {
    display: none;
  }
  .tablet-header {
    display: block;
    width: 768px;
    height: 72px;
  }
  .tablet-header-container {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  .logo {
    position: relative;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
    display: inline-block;
  }

  .text-logo {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
  }
  .menu-styles {
    display: flex;
    gap: 40px;
  }
  .link-navigation {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-navigation:hover,
  .link-navigation:focus {
    color: #404bbf;
  }

  /* Adress-contacts-style */
  .contacts {
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contacts-styles {
    display: block;
    gap: 40px;
  }

  .address-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-contacts:hover,
  .address-contacts:focus {
    color: #404bbf;
  }
}
/* tablet-header-styles */
/* ===================================================================== */
/* decktop-header */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* desktop-header-styles */
