body {
  background-color: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.section {
  padding-top: 0;
  padding-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

/* Common-section-three-four-styles */
.section-title {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-title {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}
.list-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header-styles */

.container {
  max-width: 320px;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* mobile-header */
.menu-styles,
.contacts {
  display: none;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
  /* display: inline-block; */
}

.text-logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #111111;
  line-height: 0;
}

/* mobile-header-styles */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* tablet-header */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
/* tablet-header-styles */

/* desktop-header */
